.navbar {
  position: fixed;
}
h1 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}
h3 {
  text-align: center;
  margin-bottom: 5px;
}
h4 {
  margin-bottom: 15px;
  margin-left: 86px;
}
a {
  margin-left: -86px;
}
li a {
  margin-left: 0px;
}
.info-clicked {
  border-left: 3px solid dodgerblue;
  padding-left: 10px;
}